<mat-sidenav mode="side" opened class="sidebar">
  <div class="sidebar-brand">
    <mat-icon>dashboard</mat-icon>
    <h2>TaskFlow</h2>
  </div>
  <mat-nav-list class="menu-list">
    <mat-list-item
      *ngFor="let item of menuItems"
      (click)="onMenuItemClick(item)"
      [class.active]="selectedMenu === item.name"
      class="menu-item"
    >
      <mat-icon [style.color]="item.color">{{ item.icon }}</mat-icon>
      <span>{{ item.name }}</span>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
