.color-sky-blue {
  background-color: #00b0f0 !important;
}

.color-light-orange {
  background-color: #ffc078 !important;
}

.color-amber {
  background-color: #f59f00 !important;
}

.color-green {
  background-color: #2b8a3e !important;
}

.color-deep-blue {
  background-color: #06799f !important;
}

.color-light-gray {
  background-color: #ced4da !important;
}

.color-pale-gray {
  background-color: #d1d9e0 !important;
}

.color-dark-gray {
  background-color: #727477 !important;
}
