<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img *ngIf="isLoggedIn" src="assets/img/person-circle.svg" alt="User Profile" class="rounded-circle me-2" width="40" height="40">
  <span *ngIf="isLoggedIn" class="text-primary fw-bold">{{getLoggedUserUsername()}}</span>
  <div class="container px-5">
    <a class="navbar-brand" [routerLink]="isLoggedIn ? '/dashboard' : '/'">TaskFlow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form *ngIf="isLoggedIn" class="d-flex me-3" role="search" (submit)="onSearch()">
        <input class="form-control me-2"
               type="search"
               placeholder="Search tasks/projects"
               aria-label="Search"
               [(ngModel)]="searchQuery"
               name="searchQuery"
               (input)="onSearch()">
        <div *ngIf="searchResults && searchResults.length > 0"
             class="position-absolute bg-white shadow p-2 rounded mt-5 z-3"
             style="min-width: 300px; max-height: 300px; overflow-y: auto;">
          <div *ngFor="let item of searchResults">
            <a class="dropdown-item"  (click)="clearSearch(item)">
              <strong>{{ item.title }}</strong> <small class="text-muted">({{ item.type }})</small>
            </a>
          </div>
        </div>
      </form>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn && isAdmin()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/administration">Administration</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="isLoggedIn" (click)="onLogout()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
