<div class="container mt-4">
  <h4 class="fw-bold"><i class="bi bi-journal-text me-2"></i>{{project.name}}</h4>
  <h4><i class="bi bi-card-text me-2"></i>{{project.description}}</h4>
  <div class="d-flex gap-3">
    <button type="button" class="btn btn-outline-secondary d-flex align-items-center gap-2" (click)="goBack()">
      <i class="bi bi-arrow-left"></i>
      Back
    </button>

    <button type="button" class="btn btn-success d-flex align-items-center gap-2" (click)="onCreateTask()">
      <i class="bi bi-plus-lg"></i>
      Create New Task
    </button>

    <button type="button"
            class="btn btn-primary d-flex align-items-center gap-2"
            *ngIf="isUserOwnerProject()" (click)="onProjectUpdate()">
      <i class="bi bi-plus-lg"></i>
      Update Project
    </button>
  </div>

  <table class="table table-hover mt-3">
    <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Subject</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Author</th>
      <th scope="col">Updated On</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks" app-task-list-item [task]="task"></tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <button class="btn btn-outline-primary"
            (click)="previousPage()"
            [disabled]="pageable.page === 0">
      Previous
    </button>

    <span>Page {{ pageable.page + 1 }} of {{ totalPages }}</span>

    <button class="btn btn-outline-primary"
            (click)="nextPage()"
            [disabled]="pageable.page + 1 >= totalPages">
      Next
    </button>
  </div>
</div>
